*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignorar JSON sensíveis da pasta assets
app/src/main/assets/*.json
# Ignorar TXT sensíveis da pasta raw
app/src/main/res/raw/*.txt

# Ignorar JSON sensíveis da pasta assets
app/src/main/assets/*.json

# Ignorar TXT sensíveis da pasta raw
app/src/main/res/raw/*.txt
